<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
      <dict>
        <key>hex</key>
        <string>cb77df</string>
        <key>label</key>
        <string>Purple</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>68d845</string>
        <key>label</key>
        <string>Green</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>2aaef5</string>
        <key>label</key>
        <string>Blue</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>e9ba2a</string>
        <key>label</key>
        <string>Yellow</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>a18360</string>
        <key>label</key>
        <string>Maroon</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>fa316a</string>
        <key>label</key>
        <string>Pink</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>fd9426</string>
        <key>label</key>
        <string>Orange</string>
      </dict>
    </array>
</plist>
