<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>label</key>
    <string>Apple® iOS</string>
    <key>colors</key>
    <array>
      <dict>
        <key>hex</key>
        <string>cb77df</string>
        <key>label</key>
        <string>Violet</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>68d845</string>
        <key>label</key>
        <string>Vert</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>2aaef5</string>
        <key>label</key>
        <string>Bleu</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>e9ba2a</string>
        <key>label</key>
        <string>Jaune</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>a18360</string>
        <key>label</key>
        <string>Marron</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>fa316a</string>
        <key>label</key>
        <string>Rose</string>
      </dict>
      <dict>
        <key>hex</key>
        <string>fd9426</string>
        <key>label</key>
        <string>Orange</string>
      </dict>
    </array>
  </dict>
</plist>
