<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iOS default palette</string>
		<key>productID</key>
		<string>iOS</string>
		<key>description</key>
		<string>The default iOS 10 color palette</string>
		<key>filename</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FlatUI</string>
		<key>productID</key>
		<string>FlatUI</string>
		<key>description</key>
		<string>A trendy flat UI palette</string>
		<key>filename</key>
		<string>FlatUI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crayons Bright</string>
		<key>productID</key>
		<string>Crayola-Bright</string>
		<key>description</key>
		<string>24 catchy colors from the famous crayon maker</string>
		<key>filename</key>
		<string>CrayolaBright</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crayons Fluorescent</string>
		<key>productID</key>
		<string>Crayola-Fluorescent</string>
		<key>description</key>
		<string>16 flashy tints to help you get a tan while using the app</string>
		<key>filename</key>
		<string>CrayolaFluorescent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spring &amp; Fall 2016</string>
		<key>productID</key>
		<string>PantoneYear2016</string>
		<key>description</key>
		<string>The colors of the year 2016</string>
		<key>filename</key>
		<string>PantoneYear2016</string>
	</dict>
</array>
</plist>
