<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iOS default palette</string>
		<key>productID</key>
		<string>CS-iOS</string>
		<key>description</key>
		<string>The default iOS 10 color palette</string>
		<key>filename</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FlatUI</string>
		<key>productID</key>
		<string>CS-FlatUI</string>
		<key>description</key>
		<string>A trendy flat UI palette</string>
		<key>filename</key>
		<string>FlatUI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crayola® Bright</string>
		<key>productID</key>
		<string>CS-Crayola-Bright</string>
		<key>description</key>
		<string>14 catchy colors to brighten up your daily routines</string>
		<key>filename</key>
		<string>CrayolaBright</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crayola® Fluorescent</string>
		<key>productID</key>
		<string>CS-Crayola-Fluorescent</string>
		<key>description</key>
		<string>14 catchy colors to brighten up your daily routines</string>
		<key>filename</key>
		<string>CrayolaFluorescent</string>
	</dict>
</array>
</plist>
